[submodule "Assets/Utils"]
	path = Assets/Utils
	url = git@github.com:linemouth/Utils.git
[submodule "Assets/Utils.Unity"]
	path = Assets/Utils.Unity
	url = git@github.com:linemouth/Utils.Unity.git
[submodule "Assets/Graphics/Shaders/NoisyNodes"]
	path = Assets/Graphics/Shaders/NoisyNodes
	url = git@github.com:JimmyCushnie/Noisy-Nodes.git
